@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-player-slide-down {
    animation: slideDown 0.3s ease-out forwards;
  }

  .animate-player-slide-up {
    animation: slideUp 0.3s ease-in forwards;
  }

  @keyframes slideDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideUp {
    0% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-20px);
    }
  }
}